.demoTitle {
    text-align: center;
}

.demoContents {
    position: relative;
    height: 600px;
}

.demoDisplayFieldI {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 50%;
    width: 500px;
    height: 600px;
    padding: 5px;
}

.demoDisplayFieldO {
    position: absolute;
    text-align: left;
    display: inline-block;
    top: 0px;
    left: 50%;
    width: 500px;
    height: 600px;
    padding: 5px;
}

.langSelDiv {
    position: relative;
    top: 0px;
    height: 25px;
    width: 150px;
}

.inputTextBoxDiv {
    position: relative;
    display: block;
    top: 5px;
}

.inputTextBox {
    text-align: left;
    width: 480px;
    height: 500px;
    padding: 5px;
    border: 2px solid gray;
}

.outputDiv {
    position: relative;
    text-align: left;
    display: block;
    top: 5px;
    width: 480px;
    height: 500px;
    padding: 5px;
    border: 2px solid gray;
}

#langSel {
    width: 400px;
    height: 28px;
    font-size: 20px;
}

.demoDisplayFieldRemark {
    position: relative;
}

.remarkBoxDiv {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 15%;
    width: 1000px;
    padding: 5px;
}

.submitDiv {
    position: relative;
    top: 5px;
    height: 50px;
    display: block;
}
