<!DOCTYPE html>
<head>
<meta charset="utf-8">
<script src="..\static\jquery\jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="..\static\demo.js"></script>
<link rel="stylesheet" type="text/css" href="..\static\demo.css"/>
</head>

<body>
	<div class="demoTitle">
		<h1>Demo</h1>
	</div>

	<div class="demoContents">
		<div class="demoDisplayFieldI">
			<div class="inputTextBoxDiv">
				<input class="inputTextBox" type="text" id="inputText">
			</div>
			<div class="submitDiv">
				<button id="submitBtn">Submit</button>
			</div>
		</div>

		<div class="demoDisplayFieldO">
			<div class="langSelDiv">
				<select id="langSel">
					<option value="langA">langA</option>
					<option value="langB">langB</option>
					<option value="langC">langC</option>
				</select>
			</div>
			<div class="outputDiv">
				<label id="outputLbl"></label>
			</div>
		</div>
	</div>
</body>